h1 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  text-align: center;
}

.widget {
  color: #fff;
  max-width: 600px;
  margin: auto;
}

.filter {
  background-color: #fda660;
  border-radius: 2px;
  color: #fff;
  padding: 12px;
  text-align: center;
}

.nav {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__item {
  border-left: 1px solid #fff;
  display: inline-block;
}
.nav__item:first-child {
  border-left: 0;
}
.nav__itemBtn {
  background: none;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 0 12px;
}
.nav__itemBtn:hover,
.nav__itemBtn:focus {
  color: #313144;
}

.mat-card {
  margin: 24px 0;
}
.placeTitle {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 12px;
}
.placeAddress {
  margin-bottom: 12px;
}
.placePhone {
  margin-bottom: 12px;
}
.placeLabel {
  font-weight: 700;
}
.placePhone__number {
  color: rgb(253, 123, 135);
  text-decoration: none;
}
.placePhone__number:hover,
.placePhone__number:focus {
  text-decoration: underline;
}
.placeImageContainer {
  position: relative;
}

.loading {
  background-color: #fff;
  border-radius: 2px;
  padding: 24px;
  margin: 24px 0;
  text-align: center;
}