h1 {
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  margin: 24px 0;
  text-align: center;
}

.widget {
  color: #fff;
  max-width: 600px;
  margin: auto;
}
.placeWidgets {
  display: flex;
  justify-content: space-between;
  margin: 12px 0;
}

.mat-card {
  margin: 24px 0;
}
.selectedPlace {
  background-color: #fda660;
}
.placeTitle {
  cursor: pointer;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 12px;
}
.placeTitle:hover {
  text-decoration: underline;
}
.placeAddress {
  margin-bottom: 12px;
}
.placePhone {
  margin-bottom: 12px;
}
.placeLabel {
  font-weight: 700;
}
.placePhone__number {
  color: rgb(253, 123, 135);
  text-decoration: none;
}
.placePhone__number:hover,
.placePhone__number:focus {
  text-decoration: underline;
}

.loading {
  background-color: #fff;
  border-radius: 2px;
  padding: 24px;
  margin: 24px 0;
  text-align: center;
}
