<div class="widget">
  <h1>{{title}}</h1>
  <nav class="filter">
    <ul class="filter__list nav" (click)="buttonClick($event.target.textContent)">
      <li class="nav__item">
        <button class="nav__itemBtn">All</button></li>
      <li class="nav__item">
        <button class="nav__itemBtn">Hotel</button></li>
      <li class="nav__item">
          <button class="nav__itemBtn">Fishing</button></li>
      <li class="nav__item">
          <button class="nav__itemBtn">Tours</button></li>
    </ul>
  </nav>
  <div *ngIf="places$ | async as places; else loadGif">
    <div *ngFor="let place of places | placeFilter:filterText">
      <mat-card>
        <div class="placeTitle">{{ place.title }}</div>
        <div class="placeAddress">
          <span class="placeLabel">Address:</span> {{ place.address }}
        </div>
        <div class="placePhone">
          <span class="placeLabel">Phone:</span> 
          <a class="placePhone__number" href="tel:{{ place.phone | phone }}">{{ place.phone | phone }}</a>
        </div>
        <div class="placeImageContainer">
          <app-weather [place]=place></app-weather>
          <app-social [place]=place></app-social>
          <img mat-card-image [src]="place.img" [alt]="place.title">
        </div>
      </mat-card>
    </div>
  </div>
  

  <ng-template #loadGif>
    <div class="loading">
      <img [src]="loadImg" alt="">
    </div>
  </ng-template>
</div>
