<div *ngIf="places$ | async as places; else loadGif" class="widget">
  <header class="widget__header">
    <h1>{{title}}</h1>
    <app-nav (onFilterChange)="onFilterChange($event)"></app-nav>
    <div class="placeWidgets">
      <app-weather [place]="selectedPlace"></app-weather>
      <app-social [place]=selectedPlace></app-social>
    </div>
  </header>
  
  <div class="widget__content">
    <div *ngFor="let place of places | placeFilter:filterText; first as first;"
      appInit [place]=place [first]=first class="widgetItem">
      <mat-card [class.selectedPlace]="place == selectedPlace">
        <mat-card-header>
          <mat-card-title class="placeTitle" (click)=selectPlace(place)>{{ place.title }}</mat-card-title>
          <mat-card-subtitle class="placeAddress">
            <span class="placeLabel">Address:</span> {{ place.address }}
          </mat-card-subtitle>
          <mat-card-subtitle class="placePhone">
            <span class="placeLabel">Phone:</span> 
            <a class="placePhone__number" href="tel:{{ place.phone | phone }}">{{ place.phone | phone }}</a>
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="place.img" [alt]="place.title">
      </mat-card>
    </div>
  </div>
  
</div>
<ng-template #loadGif>
  <div class="widget">
    <h1>{{title}}</h1>
    <div class="loading">
      <img [src]="loadImg" alt="">
    </div>
  </div>
</ng-template>
