<div class="widget">
  <h1>{{title}}</h1>
  <nav class="filter">
    <ul class="filter__list nav">
      <li class="nav__item">
        <button class="nav__itemBtn" (click)="buttonClick()">Hotel</button></li>
      <li class="nav__item">
          <button class="nav__itemBtn">Fishing</button></li>
      <li class="nav__item">
          <button class="nav__itemBtn">Tours</button></li>
    </ul>
  </nav>
  <div *ngIf="places$ | async as places; else loadGif">
    <div *ngFor="let place of places">
      <app-card [place]=place></app-card>
    </div>
  </div>
  
  <app-weather></app-weather>
  <app-social></app-social>

  <ng-template #loadGif>
    <img [src]="loadImg" alt="">
  </ng-template>
</div>
